@model FitGymMVC.Models.ClasesModel

@{
    ViewData["Title"] = "Rutinas Cuenta";
    Layout = null; // Para que no use el layout principal
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FitGym Clases</title>
    <link rel="stylesheet" href="~/css/Guardar.css" />
</head>
<body>
    <div class="contenedor-central">
        <div class="encabezado-morado">
            <h2>Registro de Clases</h2>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <form asp-action="Guardar" method="post" class="formulario-registro">

            <input asp-for="Nombre" class="form-input" placeholder="Nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>

            <input asp-for="Descripcion" class="form-input" placeholder="Descripción" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>

            <input asp-for="CuposLimites" type="number" class="form-input" placeholder="Cupos Límite" />
            <span asp-validation-for="CuposLimites" class="text-danger"></span>

            <input asp-for="HorarioInicio" type="time" class="form-input" placeholder="Horario de Inicio" />
            <span asp-validation-for="HorarioInicio" class="text-danger"></span>

            <input asp-for="HorarioFin" type="time" class="form-input" placeholder="Horario de Fin" />
            <span asp-validation-for="HorarioFin" class="text-danger"></span>

            <select asp-for="Fecha" class="form-input">
                <option value="">Seleccione el día</option>
                <option value="Lunes">Lunes</option>
                <option value="Martes">Martes</option>
                <option value="Miércoles">Miércoles</option>
                <option value="Jueves">Jueves</option>
                <option value="Viernes">Viernes</option>
                <option value="Sábado">Sábado</option>
                <option value="Domingo">Domingo</option>
            </select>
            <span asp-validation-for="Fecha" class="text-danger"></span>

            <div class="botones">
                <button type="submit" class="btn crear">CREAR</button>
                <a asp-controller="Administrador" asp-action="InicioAdmin" class="btn salir">SALIR</a>
            </div>
        </form>


    </div>
</body>
</html>