@model List<FitGymMVC.Models.RutinasModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Listar Rutinas
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Rutinas" class="btn btn-success">Crear nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Nivel de Diificultad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Descripcion</td>
                        <td>@item.NivelDificultad</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

