body {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: white; 
    text-align: center; 
}

.contenedor-ayuda {
    width: 345px;
    height: 720px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

p, ol {
    text-align: left;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.2;
}

ol {
    padding-left: 20px;
}

.mensaje-final {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
}

.btn-salir {
    background-color: #6A0B8A;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    transition: background 0.2s ease;
}

.btn-salir:hover {
    background-color: #5a005a;
}

.pie {
    background-color: #8000aa;
    height: 70px;
    border-top-left-radius: 100% 40px;
    border-top-right-radius: 100% 40px;
}