@model FitGymMVC.Models.RutinasModel

@{
    ViewData["Title"] = "Rutinas Cuenta";
    Layout = null; // Para que no use el layout principal
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FitGym Rutinas</title>
    <link rel="stylesheet" href="~/css/Guardar.css" />
</head>
<body>
    <div class="contenedor-central">
        <div class="encabezado-morado"></div>

        <form asp-action="Guardar" method="post" class="formulario-registro">
            <h2>Registro de Rutinas</h2>

            <input asp-for="Nombre" class="form-input" placeholder="Nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>

            <input asp-for="Descripcion" class="form-input" placeholder="Descripción" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>

            <select asp-for="NivelDificultad" class="form-input">
                <option value="">Seleccione una dificultad</option>
                <option value="Fácil">Fácil</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Difícil">Difícil</option>
            </select>
            <span asp-validation-for="NivelDificultad" class="text-danger"></span>


            <div class="botones">
                <button type="submit" class="btn crear">CREAR</button>
                <a asp-controller="Usuarios" asp-action="InicioUsuario" class="btn salir">SALIR</a>
            </div>

        </form>

    </div>
</body>
</html>