@{
    ViewData["Title"] = "Inicio Admin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio Admin</title>
    <link rel="stylesheet" href="~/css/InicioUsuario.css" />
</head>
<body>
    <div class="contenedor-admin">
        <div class="encabezado">
            <a asp-controller="Administrador" asp-action="Listar" class="icono-admin">
                <img src="~/img/iconoPersona.png" alt="Perfil" />
            </a>
        </div>

        <div class="contenido">
            <h2>FITGYM<br />¿QUÉ DESEAS HACER?</h2>
            <a asp-controller="Clases" asp-action="Guardar" class="btn-admin">CREAR CLASE</a>
            <a asp-controller="Rutinas" asp-action="Guardar" class="btn-admin">CREAR RUTINA</a>
            <a asp-controller="Rutinas" asp-action="Listar" class="btn-admin">LISTAR RUTINAS</a>
            <a asp-controller="Reservas" asp-action="Guardar" class="btn-admin">RESERVAR CLASE</a>
            <a asp-controller="Clases" asp-action="Listar" class="btn-admin">LISTAR CLASES</a>

            <a asp-controller="Usuarios" asp-action="Logout" class="btn-cerrar">CERRAR SESIÓN</a>

        </div>

        <div class="pie"></div>
    </div>
</body>
</html>
