@{
    ViewData["Title"] = "Inicio Cliente";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio Cliente</title>
    <link rel="stylesheet" href="~/css/InicioCliente.css" />
</head>
<body>
    <div class="contenedor-cliente">
        <div class="encabezado-cliente">
            <a href="#" class="icono-izquierdo">
                <img src="~/img/iconoCalendario.png" alt="Calendario" />
            </a>
            <a href="javascript:void(0);" class="icono-derecho" onclick="abrirSidebar()">
                <img src="~/img/iconoPersona.png" alt="Perfil" />
            </a>

        </div>

        <div class="contenido-cliente">
            <img src="~/img/imagenClase.png" alt="Clase" class="img-clase" />

            <a asp-controller="Reservas" asp-action="Guardar" class="btn-ingresar">INGRESAR A LA CLASE</a>

            <div class="tarjeta-morfologia">
                <img src="~/img/iconoCuerpo.png" class="icono-cuerpo" alt="Cuerpo" />
                <ul class="info-cuerpo">
                    <li>-ALTURA</li>
                    <li>-PESO</li>
                    <li>-IMC</li>
                    <li>-EDAD</li>
                </ul>
            </div>
        </div>

        <div class="pie-cliente"></div>
        <nav id="sidebar" class="sidebar-js">
            <span class="cerrar-sidebar-js" onclick="cerrarSidebar()">X</span>

            <ul class="sidebar-menu-js">
                <li><a asp-controller="Usuarios" asp-action="RedireccionarPorRol">CUENTA</a></li>
                <li><a asp-controller="Reservas" asp-action="guardar">CLASES</a></li>
                <li><a asp-controller="Usuarios" asp-action="RedireccionarPorRol">RUTINA</a></li>
                <li><a asp-controller="Usuarios" asp-action="RedireccionarPorRol">SEGUIMIENTO</a></li>

                <li><a asp-controller="Usuarios" asp-action="RedireccionarPorRol">ACERCA DE</a></li>
            </ul>
            azz
            <a asp-controller="Usuarios" asp-action="Logout" class="btn-cerrar-sesion-js">CERRAR SESIÓN</a>
        </nav>
    </div>
   
    <script src="~/js/menuCliente.js"></script>

</body>
</html>
