@{
    Layout = null; // Para que no use el layout principal
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FitGym Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="contenedor-central">
        <div class="encabezado-morado"></div>

        <div class="icono-usuario">
            <img src="~/img/iconoPersona.png" class="models" />
        </div>

        <!-- FORMULARIO DE LOGIN -->
        <form asp-controller="Usuarios" asp-action="Login" method="post">
            <div class="campo">
                <div class="icono-wrapper">
                    <img src="~/img/iconoMensaje.png" class="icono" />
                </div>
                <input type="email" name="correo" placeholder="CORREO" required />
            </div>

            <div class="campo">
                <div class="icono-wrapper">
                    <img src="~/img/iconoLlave.png" class="icono" />
                </div>
                <input type="password" name="contraseña" placeholder="CONTRASEÑA" required />
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.Error as string))
            {
                <p style="color:red; text-align:center;">@ViewBag.Error</p>
            }

            <div class="links">
                <a href="#">¿OLVIDASTE TU CONTRASEÑA?</a>
                <a href="/Usuarios/Guardar">CREAR CUENTA</a>
                <a href="/Usuarios/Ayuda">AYUDA</a>
            </div>

            <button type="submit" class="btn-ingresar">INGRESAR</button>
        </form>

        
    </div>
</body>
</html>
